@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1280px;
    max-width: 1280px;
    margin: 0 auto;
    border: 2px solid green;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    border: 2px solid red;

}

ul {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    color: #2E2E2E;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: #000;
}

nav .logo {
    cursor: pointer;
    margin-top: 4px;
}

nav ul {
    text-decoration: none;
}

nav button,
.btn {
    all: unset;
    padding: 6px 16px;
    color: #fff;
    background: #D01C28;
    cursor: pointer;
}

.btn {
    font-size: 24px;
}

.hero__btn {
    display: flex;
    gap: 40px;
}

.hero__btn .secondary__btn {
    background: transparent;
    font-size: 24px;
    border: 1px solid black;
    font-weight: 600;
    color: gray;
    padding: 6px 16px;
    cursor: pointer;
}



/*HERO SECTION */
main {
    display: flex;
    align-items: center;
    height: calc(100vh - 72px);
    border: 2px solid red;
    margin-top: 81px;
}


.left .content__heading {
    font-size: 108px;
    font-weight: 800;
    line-height: 103px;
}

.left .content__paragraph {
    font-size: 16px;
    font-weight: 600;
    line-height: auto;
    color: gray;
    max-width: 400px;
}

.left .info {
    font-size: 16px;
}

.left .brands__icons {
    display: flex;
    gap: 16px;
    margin: 36px 0px;
}